@import "../../../../scss-config/glabal.variables.scss";

.parceiros {
  padding-top: $padding-top-big; // 60px
  padding-bottom: $padding-bottom-exra-big; // 120px

  h2 {
    margin-bottom: $margin-bottom-big; // 60px
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: $max-width; //1400px
    margin: 0 auto;
    padding: 0 1.25rem; //20px
  }
  li {
    display: flex;
    padding: $padding-large;//32px
    border-left: 0.125rem solid var(--cor-2);
  }
  li:first-child,
  li:nth-child(5) {
    border-left: none;
  }
  li:nth-child(n + 5) {
    border-top: 0.125rem solid var(--cor-2);
  }
  img {
    margin: auto;
  }

  //800px
  @media (max-width: $larger-width) {
    padding: $padding-big; // 60px

    h2 {
      margin-bottom: $margin-bottom-medium; //20px
    }
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
    li {
      padding: $padding-medium; //20px
    }
    li:nth-child(n + 3) {
      border-top: 0.125rem solid var(--cor-2);
    }
    li:nth-child(odd) {
      border-left: none;
    }
  }
}
