<article class="tecnologia-bg">
  <div class="tecnologia container">
    <div class="tecnologia-conteudo">
      <span>Técnologias Avançada</span>
      <h2>você escolhe as suas cores e componentes.</h2>
      <p>Cada Bikcraft é única e possui a sua identidade.
        As medidas serão exatas para o seu corpo e altura, garantindo maior conforto e ergonomia na sua pedalada. Você pode também personalizar completamenta as suas cores.
      </p>
      <links-components label="Escolha um modelo."></links-components>

    </div>
    <div class="tecnologia-imagem">
      <img src="../../../../assets/img/fotos/tecnologia.jpg" alt="imagem decorativa">
    </div>
  </div>
</article>

//
