@import "../../../../scss-config/glabal.variables.scss";

.bicicletas-lista {
  padding-top: $padding-top-big; // 60px
  padding-bottom: $padding-bottom-extra-big; // 120px

  h2 {
    padding-bottom: $padding-bottom-larger; // 40px
  }

  ul {
    display: flex;
    gap: $gap-larger; // 40px
    padding: 0 1.25rem 1.25rem 1.25rem;
    max-width: $max-width; // 1400px
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }

  li {
    flex: 1;
    min-width: $smallest-width; // 280px
  }

  a {
    display: block;

    &:hover h3::before {
      width: $width-large; // 24px
    }
  }

  img {
    margin-bottom: $margin-bottom-small; // 16px
  }

  h3 {
    margin-bottom: $margin-bottom-smallest; // 8px
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      height: $height-smallest;//8px
      width: $width-smaller;//12px
      margin-right: $margin-right-smallest;//8px
      background: $background-principal-amarelo-max;
      transition: width 0.2s;
    }
  }

  li span {
    padding-left: $padding-left-small;//20px
  }

  // Responsividade para telas menores
  @media (max-width: $larger-width) {
    // 800px
    padding-bottom: $padding-bottom-big; // 60px

    ul {
      gap: $gap-medium; // 20px
    }
  }
}
