@import "../../../scss-config/glabal.variables.scss";

#orcamento {
  background: $background-gradient;
}
.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: $padding-bottom-exra-big; //120px
  background: green;
}
.orcamento-produto,
.orcamento-dados {
  background-color: red;
  padding: $padding-big; //60px
  box-shadow: $box-shadow-padrao;
}
.orcamento-produto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap-medium; //20px
  align-content: start;
  background: $background-principal-preto-max;
  border-radius: 0.25rem 0 0 0.25rem;
}
.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-dados {
  background: $background-principal-branco-max;
  border-radius: 0 0.25rem 0.25rem 0;
}
.hidden {
  display: none;
}

.selected {
  color: var(--cor-4);
  background: var(--cor-10);
  background: var(--cor-10);

  /* Outros estilos que você deseja adicionar quando a opção estiver selecionada */
}

//
