@import"../../../../scss-config/glabal.variables.scss";

.tecnologia-bg {
  background: $background-principal-preto-med;
  box-shadow: inset 0 5rem var(--cor-0), inset 0 -5rem var(--cor-0); //sombra com 80px

  //800px
  @media (max-width: $larger-width) {
    box-shadow: initial;
  }
}

.tecnologia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap-larger; //40px

  //800px
  @media (max-width: $larger-width) {
    grid-template-columns: 1fr;
  }
}

.tecnologia-imagem {
  img {
    width: $full-width;
    height: $full-height;
    object-fit: cover;
    object-position: left;
  }
  //800px
  @media (max-width: $larger-width) {
    img {
      display: none;
    }
  }
}

.tecnologia-conteudo {
  padding-top: $padding-top-bigger; //80px
  padding-bottom: $padding-bottom-bigger; //80px

  > span {
    display: block;
    margin-bottom: $margin-bottom-medium; //20px
  }

  > h2 {
    margin-bottom: $margin-bottom-large; //32px
  }

  > p {
    margin-bottom: $margin-bottom-medium; //20px
  }

  .link {
    display: block;
    margin-bottom: $margin-bottom-bigger; //80px
  }

  //800px
  @media (max-width: $larger-width) {
    padding-top: $padding-top-big;//60px
    padding-bottom: $padding-bottom-big;//60px
  }
  .link {
    margin-bottom: $margin-bottom-big;//60px
  }
}

.tecnologia-vantagens {
  display: flex;
  gap: $margin-top-larger; //40px

  h3 {
    margin-bottom: $margin-bottom-smallest;//8px
    width: max-content;
  }

  img {
    width: $width-medium; //24px
    margin-bottom: $margin-bottom-smallest;//9px
  }

  //600px
  @media (max-width: $medium-width) {
    flex-direction: column;
  }
}
