.depoimentos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--cor-p1);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }
  //Repsonsivo
  //800px
  @media (max-width: 50rem) {
    grid-template-columns: 1fr;
    text-align: center;

    img {
      max-height: 12.5rem; //200px
    }
  }
}
.depoimento-conteudo {
  padding: 2.5rem 2.5rem 5rem 5rem; //40px 40px 80px 80px
  align-self: end;

  p {
    max-width: 32ch;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 2rem;
    position: relative;
  }
  p::before,
  p::after {
    color: var(--cor-p2);
    position: absolute;
    font-size: 5rem;
  }
  p::before {
    content: "“";
    top: -1.25rem; //20px
    left: -3.125rem; //50px
  }
  p::after {
    content: "”";
  }
  //Repsonsivo
  //800px
  @media (max-width: 50rem) {
    padding: 2.5rem 1.25rem; //40px 20px
    justify-self: center;
  }
}
//
