@import "../../../../scss-config/glabal.variables.scss";

.introducao-bg {
  background: $background-principal-preto-max;
  box-shadow: inset 0 -7.5rem var(--cor-0);

  //800px
  @media (max-width: $larger-width) {
    background: $background-principal-preto-med;
    box-shadow: inset 0 -3.75rem var(--cor-0);
  }
}

.introducao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 2.5rem;

  @media (max-width: $larger-width) {
    grid-template-columns: 1fr;
    gap: $gap-large; //32px
  }
  h1 {
    margin-bottom: $margin-bottom-large;//32px

    @media (max-width: $larger-width) {
      margin-bottom: $margin-bottom-small; //16px
    }
  }
  p {
    margin-bottom: $margin-bottom-medium;//20px
  }
  img {
    width: $full-width;//100%
    height: $full-height;//100%
    border-radius: $border-radius-padrao; //4px
    object-fit: cover;

    @media (max-width: $larger-width) {
      height: $height-bigger; //300px
      width: $full-width;//100%
    }
  }
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: $padding-botton-extra-bigger;//200px


  @media (max-width: $larger-width) {
    padding-bottom: 0;
  }
}


span {
  color: var(--cor-p1);
}
