// CORES
// ecuro
$background-principal-preto-max: var(--cor-12);
$background-principal-preto-med: var(--cor-11);

//claro
$background-principal-branco-max: var(--cor-0);

//LARGURAS E COMPRIMENTOS
$full-width: 100%;
$max-width: 75rem; //1400px
$large-width: 50rem; //800px
$medium-width: 37.5rem; //600px
$min-width: 25rem; ///400px

// ESPAÇAMENTOS
// gaps
$gap-extra: 7.5rem; //120px
$gap-bigger: 5rem; //80px
$gap-big: 3.75rem; //60px
$gap-large: 2.5rem; //40px
$gap-medium: 1.25rem; //20px
$gap-small: 0.75rem;

// Paddings
$padding-bigger: 5rem;//80px
$padding-big: 3.75rem;//60px
$padding-large: 2.5rem;//40px
$padding-medium: 1.5rem;//20px
$padding-small: 1rem;

//border-radius
$border-radius-padrao: 0.25rem; //4p

// Tamanhos de fonte
$font-size-small: 0.875rem;
