// CORES
// ecuro
$background-principal-preto-max: var(--cor-12);
$background-principal-preto-med: var(--cor-11);

//cinza
$background-principal-cinza-claro: var(--cor-1);

//claro
$background-principal-branco-max: var(--cor-0);

//tons de amarelo
$background-principal-amarelo-max: var(--cor-p1);

//gradient
$background-gradient: linear-gradient(
  to right,
  var(--cor-0) 30%,
  var(--cor-11) 0%
);

// box-shadows
$box-shadow-padrao: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1); //0 1px 2px

//LARGURAS E COMPRIMENTOS
//screen
//width
$full-width: 100%;
$max-width: 75rem; //1400px
$big-width: 64rem; //1024px
$larger-width: 50rem; //800px
$medium-width: 37.5rem; //600px
$min-width: 25rem; ///400px
$smaller-width: 22.5rem; //360px
$smallest-width: 17.5rem; //280px

//height
$full-height: 100%;
$height-bigger: 18.75rem; //300px
$height-big: 12.5rem; //200px
$height-small: 1rem; //16px
$height-smaller: 0.75rem; //12px
$height-smallest: 0.5rem; //8px

//width:
$width-big: 12.5rem; //200px
$width-large: 1.5rem; //24px
$width-medium: 1.25rem; //2px
$width-small: 1rem; //16px
$width-smaller: 0.75rem; //12px
$width-smallest: 0.5rem; //8px

// ESPAÇAMENTOS
// gaps
$gap-extra-biggest: 11.25rem; //180px
$gap-extra: 7.5rem; //120px
$gap-bigger: 5rem; //80px
$gap-big: 3.75rem; //60px
$gap-larger: 2.5rem; //40px
$gap-large: 2rem; //32px
$gap-extra-medium: 1.5rem; //24px
$gap-medium: 1.25rem; //20px
$gap-small: 1rem; //16px
$gap-smaller: 0.75rem; //12px
$gap-smallest: 0.5rem; //8px

// Paddings todos os lados
$padding-extra-biggest: 11.25rem; //180px
$padding-extra-bigger: 12.5rem; //200px
$padding-extra-big: 7.5rem; //120px
$padding-bigger: 5rem; //80px
$padding-big: 3.75rem; //60px
$padding-larger: 2.5rem; //40px
$padding-large: 2rem; //32px
$padding-extra-medium: 1.5rem; //24px
$padding-medium: 1.25rem; //20px
$padding-small: 1rem; //16px
$padding-smaller: 0.75rem; //12px
$padding-smallest: 0.5rem; //8px

//Padding top
$padding-top-extra-biggest: 11.25rem; //180px
$padding-top-extra-bigger: 12.5rem; //200px
$padding-top-extra-big: 7.5rem; //120px
$padding-top-bigger: 5rem; //80px
$padding-top-big: 3.75rem; //60px
$padding-top-larger: 2.5rem; //40px
$padding-top-large: 2rem; //32px
$padding-top-extra-medium: 1.5rem; //24px
$padding-top-medium: 1.25rem; //20px
$padding-top-small: 1rem; //16px
$padding-top-smaller: 0.75rem; //12px
$padding-top-smallest: 0.5rem; //8px

//Padding bottom
$padding-bottom-extra-biggest: 11.25rem; //180px
$padding-botton-extra-bigger: 12.5rem; //200px
$padding-bottom-exra-big: 7.5rem; //120px
$padding-bottom-bigger: 5rem; //80px
$padding-bottom-big: 3.75rem; //60px
$padding-bottom-larger: 2.5rem; //40px
$padding-bottom-large: 2rem; //32px
$padding-bottom-extra-medium: 1.5rem; //24px
$padding-bottom-medium: 1.25rem; //20px
$padding-bottom-small: 1rem; //16px
$padding-bottom-smaller: 0.75rem; //12px
$padding-bottom-smallest: 0.5rem; //8px

//Padding right
$padding-right-extra-biggest: 11.25rem; //180px
$padding-right-extra-bigger: 12.5rem; //200px
$padding-rigth-extra-big: 7.5rem; //120px
$padding-right-bigger: 5rem; //80px
$padding-right-big: 3.75rem; //60px
$padding-right-larger: 2.5rem; //40px
$padding-right-large: 2rem; //32px
$padding-right-extra-medium: 1.5rem; //24px
$padding-right-medium: 1.25rem; //20px
$padding-right-small: 1rem; //16px
$padding-right-smaller: 0.75rem; //12px
$padding-right-smallest: 0.5rem; //8px

//Padding left
$padding-left-extra-biggest: 11.25rem; //180px
$padding-left-extra-bigger: 12.5rem; //200px
$padding-left-extra-big: 7.5rem; //120px
$padding-left-bigger: 5rem; //80px
$padding-left-big: 3.75rem; //60px
$padding-left-larger: 2.5rem; //40px
$padding-left-large: 2rem; //32px
$padding-left-extra-medium: 1.5rem; //24px
$padding-left-medium: 1.25rem; //20px
$padding-left-small: 1rem; //16px
$padding-left-smaller: 0.75rem; //12px
$padding-left-smallest: 0.5rem; //8px

//Margin todos os lados
$margin-extra-biggest: 11.25rem; //180px
$margin-extra-bigger: 12.5rem; //200px
$margin-extra-big: 7.5rem; //120px
$margin-bigger: 5rem; //80px
$margin-big: 3.75rem; //60px
$margin-larger: 2.5rem; //40px
$margin-large: 2rem; //32px
$margin-extra-medium: 1.5rem; //24px
$margin-medium: 1.25rem; //20px
$margin-small: 1rem; //16px
$margin-smaller: 0.75rem; //12px
$margin-smallest: 0.5rem; //8px

//Marging top
$margin-top-extra-biggest: 11.25rem; //180px
$margin-top-extra-bigger: 12.5rem; //200px
$margin-top-extra-big: 7.5rem; //120px
$margin-top-bigger: 5rem; //80px
$margin-top-big: 3.75rem; //60px
$margin-top-larger: 2.5rem; //40px
$margin-top-large: 2rem; //32px
$margin-top-extra-medium: 1.5rem; //24px
$margin-top-medium: 1.25rem; //20px
$margin-top-small: 1rem; //16px
$margin-top-smaller: 0.75rem; //12px
$margin-top-smallest: 0.5rem; //8px

//Margin botton
$margin-bottom-extra-biggest: 11.25rem; //180px
$margin-bottom-extra-bigger: 12.5rem; //200px
$margin-bottom-extra-big: 7.5rem; //120px
$margin-bottom-bigger: 5rem; //80px
$margin-bottom-big: 3.75rem; //60px
$margin-bottom-larger: 2.5rem; //40px
$margin-bottom-large: 2rem; //32px
$margin-bottom-extra-medium: 1.5rem; //24px
$margin-bottom-medium: 1.25rem; //20px
$margin-bottom-small: 1rem; //16px
$margin-bottom-smaller: 0.75rem; //12px
$margin-bottom-smallest: 0.5rem; //8px

//Margin right
$margin-right-extra-biggest: 11.25rem; //180px
$margin-right-extra-bigger: 12.5rem; //200px
$margin-right-extra-big: 7.5rem; //120px
$margin-right-bigger: 5rem; //80px
$margin-right-big: 3.75rem; //60px
$margin-right-larger: 2.5rem; //40px
$margin-right-large: 2rem; //32px
$margin-right-extra-medium: 1.5rem; //24px
$margin-right-medium: 1.25rem; //20px
$margin-right-small: 1rem; //16px
$margin-right-smaller: 0.75rem; //12px
$margin-right-smallest: 0.5rem; //8px

//Margin left
$margin-left-extra-biggest: 11.25rem; //180px
$margin-left-extra-bigger: 12.5rem; //200px
$margin-left-extra-big: 7.5rem; //120px
$margin-left-bigger: 5rem; //80px
$margin-left-big: 3.75rem; //60px
$margin-left-larger: 2.5rem; //40px
$margin-left-large: 2rem; //32px
$margin-left-extra-medium: 1.5rem; //24px
$margin-left-medium: 1.25rem; //20px
$margin-left-small: 1rem; //16px
$margin-left-smaller: 0.75rem; //12px
$margin-left-smallest: 0.5rem; //8px

//border-radius
$border-radius-padrao: 0.25rem; //4p

// Tamanhos de fonte
$font-size-small: 0.875rem;
