<headers></headers>

<main class="bicicleta-bg">
  <page-title
    [pageTitle]="'R$ 2499'"
    [pageSubtitle]="'Magic Might'"
    [titleClass]="'font-2-xl cor-5 titulo-bicicleta'"
    [subtitleClass]="'font-1-xxl cor-0'"
    [bgClass]="'titulo-bg'"
    [containerClass]="'titulo container'">
  </page-title>
  <div class="bicicleta container">
    <div class="bicicletas-imagem">
      <img [src]="nimbus2" [alt]="altImgText2">
      <img [src]="nimbus3" [alt]="altImgText3">
      <img [src]="nimbus1" [alt]="altImgText1">
    </div>
    <div class="bicicleta-conteudo">
      <p class="font-2-l cor-5">
        A Magic Might é a melhor Bikcraft já criada pela nossa equipe. Ela vem equipada com os melhores acessórios, o que garante maior velocidade.
      </p>
      <div class="bicicleta-comprar">
        <button-component [ngClass]="'botao'" [label]="'comprar agora'" [route]="'/orcamento'"></button-component>
        <span class="font-1-xs cor-6">
          <img [src]="iconUrl1" [alt]="altImgIcon1">entrega em 5 dias
        </span>
        <span class="font-1-xs cor-6">
          <img [src]="iconUrl2" [alt]="altImgIcon2">8 em estoque
        </span>
      </div>

      <h2 class="font-1-xs cor-0">informações</h2>

      <ul class="bicicleta-informacoes">
        <li *ngFor="let bicicletainformacoes of bicicletasinformacoes">
          <img [src]="bicicletainformacoes.iconUrl" [alt]="">
          <h3 class="font-1-m cor-0">{{bicicletainformacoes.iconTitulo}}</h3>
          <p class="font-2-xs cor-5">{{bicicletainformacoes.descricao}}</p>
        </li>
      </ul>

      <h2 class="font-1-xs cor-0">ficha técnica</h2>
      <ul class="bicicleta-ficha">
        <li class="font-2-s cor-4" *ngFor="let bicicletaficha of bicicletasficha">
          {{bicicletaficha.etiqueta}}<span>{{bicicletaficha.conteudo}}</span>
        </li>
      </ul>
    </div>
  </div>
</main>
<bicicletas-lista
[title]="'escolha a sua'"
[bicicletas]="bicicletasLista">
</bicicletas-lista>
<bicicleta-seguro></bicicleta-seguro>
<footers></footers>
