.vantagens-bg {
  background: var(--cor-12);
}
.vantagens {
  padding-top: 7.5rem; //120px
  padding-bottom: 7.5rem; //120px

  h2 {
    margin-bottom: 3.75rem; //60px
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, max-content));//280px
    gap: 2.5rem 5rem; //40px 80px
  }
  h3,
  img {
    margin-bottom: 0.5rem; //8px
  }
  //800px
  @media (max-width: 50rem) {
    padding-top: 3.75rem;//60px
    padding-bottom: 3.75rem;//60px

    h2{
      margin-bottom: 2.5rem;
    }
    ul{
      gap: 1.25rem;//20px
    }

  }
}
