<section [ngClass]="sectionClass" [attr.arial-label]>
  <h2 class="font-1-m cor-0">Lojas Online</h2>
  <div class="contato-endereco font-2-m cor-4">
    <p>{{enderecoRua}}</p>
    <p>{{enderecoBairro}}</p>
    <p>{{enderecoCidade}}</p>
  </div>
  <address class="contato-meios font-2-s cor-4">
    <a [href]="'mailto:'+ enderecoEmail"> {{email}}</a>
    <a [href]="'mailto:'+ enderecoEmailAssistencia"> {{emailAssistencia}}</a>
    <a [href]="'tel:'+ numeroTelefone"> {{telefone}}</a>
  </address>
  <div class="contato-redes">
    <a href="/"><img [src]="imgUrlInstagram" [alt]="instagramAltText"> </a>
    <a href="/"><img [src]="imgUrlFace" [alt]="faceAltText"> </a>
    <a href="/"><img [src]="imgUrlYoutube" [alt]="youtubeAltText"> </a>
  </div>
</section>
