@import "../../../scss-config/glabal.variables.scss";

.bicicletas-bg {
  background-image: $background-gradient;

  //800px
  @media (max-width: 50rem) {
    background: $background-principal-preto-med;

  }
}
.bicicletas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap-larger; //40px
  padding-top: $padding-top-big; //60px
  padding-bottom: $padding-bottom-big; //60px

  //800px
  @media (max-width: 50rem) {
    grid-template-columns: 1fr;
    gap: $gap-medium; //20px
    margin-top: $margin-top-larger; //40px
    margin-bottom: $margin-bottom-larger; //40px
  }
}
.bicicletas-imagem {
  display: grid;
  img {
    grid-area: 1/1;
  }
  span {
    display: inline-block;
    grid-area: 1/1;
    place-self: start end;
    margin-top: $margin-top-medium; //20px
    text-transform: uppercase;
    background: $background-principal-preto-max;
    padding: 0.5rem 1rem 0.5rem 0.5rem; //8px 16px 8px 8px
    border-radius: 0.125rem 0 0 0.125rem; //5px 0 0 5px
  }
}
.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;

  h2,
  p {
    grid-column: 1/-1;
  }
  h2 {
    margin-bottom: $margin-bottom-medium; //20px
  }
  h2::before {
    display: block;
    content: "";
    width: $width-smaller; //12px
    height: $height-smallest; //8px
    background: $background-principal-amarelo-max;
    margin-bottom: $margin-bottom-smallest; //8px
  }
  p {
    margin-bottom: $margin-bottom-large; //32px
    max-width: 60ch;
  }
  ul {
    display: grid;
    gap: $gap-small; //16px
  }
  li {
    display: flex;
    align-items: center;
  }
  img {
    width: $width-large; //24px
    margin-right: $margin-right-smallest; //8px
  }
  .botao {
    place-self: end;
  }
  //600px
  @media (max-width: 37.5rem) {
    grid-template-columns: 1fr;

    ul {
      grid-template-columns: repeat(2, 1fr);
      font-size: 1rem; //16px
      margin-bottom: $margin-bottom-large; //32px
    }

    .botao {
      place-self: start;
    }
  }
}

//
