@import "../../../../../scss-config/glabal.variables.scss";

.header-bg {
  background: $background-principal-preto-max;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-medium; // 20px
  justify-content: space-between;
  align-items: center;
  padding-top: $padding-top-medium; //20px
  padding-bottom: $padding-bottom-medium; //20px;
}
