<article class="perguntas container">
  <h2 class="font-1-xxl">
    perguntas frequentes<span class="cor-p1">.</span>
  </h2>
  <dl>
    <div>
      <dt class="font-1-m-b">Qual forma de pagamentos vocês aceitam?</dt>
      <dd class="font-2-s cor-9">
        Aceitamos cartões de crédito com as bandeiras: Visa, Mastercard, ELO e American Express.
        Para pagamentos à vista também aceitamos PIX e boletos através do pagSeguros.
      </dd>
    </div>
    <div>
      <dt class="font-1-m-b">Como posso entras em contato?</dt>
      <dd class="font-2-s cor-9">
        Aceitamos cartões de crédito com as bandeiras: Visa, Mastercard, ELO e American Express.
        Para pagamentos à vista também aceitamos PIX e boletos através do pagSeguros.
      </dd>
    </div>
    <div>
      <dt class="font-1-m-b">Vocês possuem algum desconto?</dt>
      <dd class="font-2-s cor-9">
        Aceitamos cartões de crédito com as bandeiras: Visa, Mastercard, ELO e American Express.
        Para pagamentos à vista também aceitamos PIX e boletos através do pagSeguros.
      </dd>
    </div>
    <div>
      <dt class="font-1-m-b">Qual a garantia que possuem?</dt>
      <dd class="font-2-s cor-9">
        Aceitamos cartões de crédito com as bandeiras: Visa, Mastercard, ELO e American Express.
        Para pagamentos à vista também aceitamos PIX e boletos através do pagSeguros.
      </dd>
    </div>
    <div>
      <dt class="font-1-m-b">Posso parcelar boletos?</dt>
      <dd class="font-2-s cor-9">
        Aceitamos cartões de crédito com as bandeiras: Visa, Mastercard, ELO e American Express.
        Para pagamentos à vista também aceitamos PIX e boletos através do pagSeguros.
      </dd>
    </div>
    <div>
      <dt class="font-1-m-b">Quantas trocas posso fazer ao ano?</dt>
      <dd class="font-2-s cor-9">
        Aceitamos cartões de crédito com as bandeiras: Visa, Mastercard, ELO e American Express.
        Para pagamentos à vista também aceitamos PIX e boletos através do pagSeguros.
      </dd>
    </div>
    <div>
      <dt class="font-1-m-b">Qual Bickraft devo escolher para o meu tamanho?</dt>
      <dd class="font-2-s cor-9">
        Aceitamos cartões de crédito com as bandeiras: Visa, Mastercard, ELO e American Express.
        Para pagamentos à vista também aceitamos PIX e boletos através do pagSeguros.
      </dd>
    </div>
  </dl>

</article>