@import "../../../scss-config/glabal.variables.scss";

.termos {
  padding-top: $padding-top-bigger; //80px
  padding-bottom: $padding-bottom-bigger; //80px
  h2 {
    font-weight: 600;
    margin-bottom: $margin-bottom-medium; //20px
  }
  p {
    max-width: 75ch;
    margin-bottom: $margin-bottom-extra-medium; //24px
  }
  p + h2{
    margin-top: $margin-top-larger;//40px
  }
}

