@import "../../../../scss-config/glabal.variables.scss";

.footer-bg {
  // background: var(--cor-12);
  background: $background-principal-preto-max;
}
.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: $gap-medium; //40px
  padding-top: $padding-top-big; //60px
  padding-bottom: $padding-bottom-big; //60px

  h3 {
    margin-bottom: $margin-bottom-large; //32px
  }
  li {
    margin-bottom: $margin-bottom-small; //16px

    &:nth-child(2):after,
    &:nth-child(5):after {
      display: block;
      content: "";
      max-width: $smaller-width; //360px
      height: 0.125rem; //2px
      background: $background-principal-preto-med; //cor-11
      margin-top: $margin-top-small; //16px
    }
  }
  a:hover {
    color: $background-principal-branco-max;
  }
  //800px
  @media (max-width: $larger-width) {
    > img {
      display: none;
    }
  }
  //600px
  @media (max-width: $medium-width) {
    grid-template-columns: 1fr;
    gap: $gap-big; //60px
  }
}
.footer-contato {
  ul {
    margin-bottom: $margin-bottom-large; //32px
  }
}
.footer-redes {
  display: flex;
  gap: $gap-large; //32px
}
.footer-copy {
  grid-column: 1/-1;
  margin-top: $margin-top-large; //40px

  //600px
  @media (max-width: $larger-width) {
    margin-top: 0;
  }
}
